{% extends 'AppBundle::layout/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
{% block fos_user_content %}
    <p>Congrats {{ user.username }}, your account is now activated.
    </p>
    <p><a href="{{ url('homepage') }}">Back to homepage </a></p>
{% endblock fos_user_content %}
{% endblock content %}